
.image {
  z-index: -1;
  object-fit: cover;
  filter:contrast(50%) brightness(70%);  
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.text h1 {
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 3rem;
}

.text p {
  color:#F5F5F5FF;
}


.button {
  margin-top: 1.5rem;
}